#disclaimerright a{
  color: white;
}

#disclaimerright a:hover{
  color: white;
  text-decoration: underline;
}

#disclaimerright{
  float: right;
  padding-right: 10px;
}

#copyrightleft
{
  float: left;
  padding-left: 10px;
}

.footer{
      background-color: rgba(213,85,85,0.65);
      height:50px;
    }

  .footer h1 {
    color:#fff;
    padding-top: 17px;
    font-weight:500;
    font-size: 14px;
  }
